<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medico</h4>
        <h6 class="card-subtitle">Actualizar informacion</h6>
        <form
          autocomplete="off"
          [formGroup]="medicoForm"
          class="form-horizontal p-t-20"
          (submit)="guardarMedico()"
        >
          <div
            *ngIf="medicoSeleccionado"
            class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Foto</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <img
                  [src]="medicoSeleccionado.img | imagen:'medicos'"
                  alt=""
                  class="w200 cursor"
                  (click)="abrirModalImagen(medicoSeleccionado)"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label"
              >Nombre</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Nombre de medico"
                  formControlName="name"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label"
              >Hospital</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <select formControlName="hospital" class="form-control">
                  <option value="">[------Seleccione Hospital------]</option>
                  <option *ngFor="let hospital of hospitales"  [value]="hospital._id">{{hospital.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row justify-content-between m-b-0">
            <div class="col-12 col-lg-auto">
              <button
                type="submit"
                class="btn btn-success waves-effect waves-light w-100"
                [disabled]="medicoForm.invalid"
              >
                <i class="fa fa-save"></i> Guardar
              </button>
            </div>
            <div class="col-12 col-lg-auto m-t-10 mt-lg-0">
              <a
                routerLink="/dashboard/medicos"
                class="btn waves-effect waves-light btn-danger w-100"
              >
                <i class="fa fa-arrow-left"></i>Volver
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ hospitalSeleccionado.name }}</h6>
        <img
          [src]="hospitalSeleccionado.img | imagen : 'hospitales'"
          [alt]="hospitalSeleccionado.name"
          class="img-thumbnail"
        />
      </div>
    </div>
  </div>
</div>
